* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.66rem;
}
h3 {
  font-size: 2.33rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.66rem;
}
h6 {
  font-size: 1.33rem;
}

.title {
  text-align: center;
  padding: 2rem;
}

.main,
#pokedex > li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section {
  padding: 1rem;
}

.section-title {
  padding: 1rem;
}

#trainer-registration,
#pokedex-name-search {
  padding: 1rem;
}

#trainer-list,
#pokedex {
  list-style-type: none;
  list-style-position: inside;
  padding: 1rem;
  height: 55vh;
  overflow: auto;
  overflow-x: scroll;
}

#trainer-list > li {
  margin: 0.2rem;
  padding: 0.2rem 0.2rem 0.2rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #888;
  border-radius: 0.2rem;
}

#trainer-list > li:hover {
  background-color: #eee;
  cursor: pointer;
}

#trainer-card ol {
  text-align: center;
  list-style-position: inside;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#pokedex > li {
  align-items: center;
  gap: 1rem;
  padding: 0.4rem;
}

#pokedex > li:hover {
  background-color: #ddd;
  cursor: pointer;
}

.pokemon-type {
  border-radius: 0.7rem;
  border: solid 1px #666;
  color: #f8f8f8;
  padding: 0.15rem;
  text-align: center;
}

.pokemon-type.normal {
  background-color: #a8a878;
}

.pokemon-type.fire {
  background-color: #f08030;
}

.pokemon-type.water {
  background-color: #6890f0;
}

.pokemon-type.electric {
  background-color: #f8d030;
}

.pokemon-type.grass {
  background-color: #78c850;
}

.pokemon-type.bug {
  background-color: #a8b820;
}

.pokemon-type.flying {
  background-color: #a890f0;
}

.pokemon-type.fighting {
  background-color: #c03028;
}

.pokemon-type.ice {
  background-color: #98d8d8;
}

.pokemon-type.rock {
  background-color: #b8a038;
}

.pokemon-type.ground {
  background-color: #e0c068;
}

.pokemon-type.poison {
  background-color: #a040a0;
}

.pokemon-type.psychic {
  background-color: #f85888;
}

.pokemon-type.ghost {
  background-color: #705898;
}

.pokemon-type.dragon {
  background-color: #7038f8;
}

.pokemon-type.dark {
  background-color: #705848;
}

.pokemon-type.steel {
  background-color: #b8b8d0;
}

.pokemon-type.fairy {
  background-color: #f0b6bc;
}
